
//保留小数点位数  isPlace  是否为空， isAdd  是否 ‘+’
function floatCut(obj,num,isPlace,isAdd) {

    if(obj == '-' || obj == '0' || obj == 0) {
        return obj
    }

    if(!obj || obj == 'undefined') {
        if(isPlace) {
            return ''
        } else {
            return '-'
        }
    }

    objStr = obj.toString()
    num = num || 2

    var arr = objStr.split('.')

    var aNew = ''
    if(arr.length >= 2){
        var first = arr[0]
        var last = arr[1]
        if(last.length < num) {
            var zero = ''
            for (var i = 0 ;i < num - last.length; i ++) {
                zero  =  zero + '0'
            }
            last = last + zero
        } else {
            last = last.slice(0,num)
        }
        aNew = arr[0] + '.' + last
    } else {
        var zero = ''
        for (var i = 0 ;i < num; i ++) {
            zero  =  zero + '0'
        }
        aNew = objStr + '.' + zero
    }

    if (parseFloat(obj) > 0 && isAdd) {
        aNew = '+' + aNew
    }
    return aNew
}

function compareZero(obj) {
    var f = parseFloat(obj)
    if(f > 0) {
        return 'c-F93A3A'
    } else if(f < 0) {
        return 'c-21A055'
    }
    return 'c-333'
}

function richTextCheck(obj) {
    if(obj.indexOf(',0') == -1) {
        return false
    } else {
        return true
    }
}

function richText(obj) {
    if(obj.indexOf(',0') == -1) {
        return obj
    } else {
        var arr = obj.split(',0')
        return arr[0]
    }
}

module.exports = {
  floatCut: floatCut,
  compareZero : compareZero,
  richTextCheck: richTextCheck,
  richText: richText
}
